modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 8080

[[ports]]
localPort = 33583
externalPort = 6800

[[ports]]
localPort = 35327
externalPort = 3001

[[ports]]
localPort = 35475
externalPort = 6000

[[ports]]
localPort = 36739
externalPort = 8008

[[ports]]
localPort = 37519
externalPort = 8099

[[ports]]
localPort = 38691
externalPort = 3000

[[ports]]
localPort = 39205
externalPort = 5173

[[ports]]
localPort = 40417
externalPort = 3002

[[ports]]
localPort = 42631
externalPort = 3003

[[ports]]
localPort = 43271
externalPort = 8000

[[ports]]
localPort = 44743
externalPort = 8081

[[ports]]
localPort = 44945
externalPort = 5000

[[ports]]
localPort = 45757
externalPort = 4200

[deployment]
deploymentTarget = "autoscale"
run = ["node", "dist/server/production.mjs"]
build = ["npm", "run", "build"]
